html, body{
    margin:0;
    padding:0;
    height:auto;
}
header div#test {
    background: #2e4861;
}
p{
    color: #fff;
    text-align: right;
    margin: 0 10% 0 0;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}
p span{
    font-size: 9px;
}
div#IPS {
    background: #36648f;
    padding: 10px 0 10px 0;
    
}
img {
    height: 30px;
    margin: 10px;
}
div.container {
    width: 70%;
    margin: auto
}
ul li {
    display: inline-block;
    color: white;
}
ul {
    display: inline-block;
    vertical-align: top;
}
div#block {
    background: #37ac9d;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-left: 15px;
    float: right;
    vertical-align: super;
}
p#buy {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding-bottom: 0;

}
p#from {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
}
div#A {
    height: 390px;
    background: #3e74a6;
    padding: 50px 0 50px 10%; 
    
}
div#A h1, div#A h3 {
    padding: 0px;
    margin: 0 0 10px 0;
    color: white;
    width: 60%;
    font-family: "proxima-nova", "helvetica neue";
    font-weight: 400;
    
    
}
div#A h1 {
    font-size: 45px;
    margin-bottom: 20px;
}
div#A h3 {
    font-size: 25px;
    margin-bottom: 30px;
}
a#tour {
    color: white;
    text-decoration: none;
    line-height: 46px;
    font-size: 20px;
    background: #3e4148;
    display: inline-block;
    padding: 0 22px;
}
a#tour:hover {
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.08) 0%,rgba(255,255,255,0.08) 100%);
}
#macbook, #tablet, video{
    width: auto;
    height: auto;
    position: absolute;
    top: 200px;
    right: 50px;
}
#macbook{
    width: 500px;
    height: 420px;
}
#tablet {
    top: 350px;
    right: 500px;
}
video{
    top: 225px;
    right: 78px;
    height: 280px;
}
#iconback {
    background: #f5f7f8;
    height: 230px;
}
footer {
    background: black;
    height: 50px;
}
ul#nav {
    padding-top: 50px;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
ul#nav > li > a {
    font-size: 30px;
    text-decoration: none;
    padding: 15px 5px 15px 50px;
    display: inline-block;
}
li#forums a {
    color: #b15757;
}
li#commerce a {
    color: #a33767;
}
li#pages a {
    color: #713e91;
}
li#downloads a {
    color: #5f4e93;
}
li#calendar a {
    color: #4d5487;
}
li#gallery a {
    color: #3b73b3;
}
li#blogs a {
    color: #19858f;
}
#ipad{
    width: auto;
    height: auto;
    position: absolute;
    top: 371px;
    right: 511px;
} 
#ways {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#ways p {
    color: #757c83;
    text-align: left;
}
#ways h2, #ways h1 {
    color: #3b3f42;
}
#ways h1 {
    text-align: center;
    font-weight: 300;
    padding-top: 30px;
}
div.four {
    width: 49%;
    padding: 30px 0;
    vertical-align: top;
    display: inline-block;
}
#ways h2, #ways p {
    margin: 0 50px;
    font-weight: 300;
}