html,
body {
    margin: 0;
    padding: 0;
    height: auto;
}

header div#test {
    background: #2e4861;
}

p {
    color: #fff;
    text-align: right;
    margin: 0;
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}

p span {
    font-size: 9px;
}

div#IPS {
    background: #36648f;
    padding: 10px 0 10px 0;
}
#headerNav{vertical-align: text-top;} 
#headerNav > li > a{
    color: white;
    text-decoration: none;
} 
#headerNav > li {
    cursor: pointer;
}
img#logo {
    height: 30px;
    margin: 10px;
}

div.container {
    width: 80%;
    margin: auto
}

ul li {
    padding: 0 15px;
    display: inline-block;
    color: white;
}

ul {
    display: inline-block;
    vertical-align: top;
}

.borderRight {
    border-right: 1px solid white;
}

div#block {
    background: #37ac9d;
    display: inline-block;
    width: 120px;
    margin-top: 4px;
    text-align: center;
    margin-left: 15px;
    float: right;
    vertical-align: super;
}

p#buy {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
}

p#from {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

div#A {
    height: 390px;
    background: #3e74a6;
    padding: 0;
}

div#A h1,
div#A h3 {
    padding: 0px;
    margin: 0 0 10px 0;
    color: white;
    width: 60%;
    font-family: "proxima-nova", "helvetica neue";
    font-weight: 400;
}

div#A h1 {
    font-size: 45px;
    margin-bottom: 25px;
    padding-top: 85px;
}

div#A h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

a#tour {
    color: white;
    text-decoration: none;
    line-height: 46px;
    font-size: 20px;
    background: #3e4148;
    display: inline-block;
    padding: 0 22px;
}

a#tour:hover {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%);
}

#macbook,
#tablet,
video {
    width: auto;
    height: auto;
    position: absolute;
    top: 115px;
    right: 50px;
}

#macbook {
    width: 500px;
    height: 420px;
}

#tablet {
    top: 280px;
    right: 460px;
}

video {
    top: 133px;
    right: 70px;
    height: 280px;
}

#iconback {
    background: #f5f7f8;
    height: 230px;
}

footer {
    background: #3e74a6;
}

ul#nav {
    padding-top: 50px;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

ul#nav>li>a {
    font-size: 25px;
    text-decoration: none;
    padding: 15px 25px 15px 5px;
    display: inline-block;
}

ul#nav>li>a>div {
    margin-right: 10px;
    display: inline-block;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

ul#nav>li>a div i {
    color: white;
    font-size: 23px;
    margin-top: 13px;
}

li#forums a {
    color: #b15757;
}

li#forums a div {
    background: #b15757;
}

li#commerce a {
    color: #a33767;
}

li#commerce a div {
    background: #a33767;
}

li#pages a {
    color: #713e91;
}

li#pages a div {
    background: #713e91;
}

li#downloads a {
    color: #5f4e93;
}

li#downloads a div {
    background: #5f4e93;
}

li#calendar a {
    color: #4d5487;
}

li#calendar div {
    background: #4d5487;
}

li#gallery a {
    color: #3b73b3;
}

li#gallery div {
    background: #3b73b3;
}

li#blogs a {
    color: #19858f;
}

li#blogs div {
    background: #19858f;
}

#ipad {
    width: auto;
    height: auto;
    position: absolute;
    top: 303px;
    right: 470px;
}

#ways {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ways p {
    color: #757c83;
    text-align: left;
}

#ways h2,
#ways h1 {
    color: #3b3f42;
}

#ways h1 {
    text-align: center;
    font-weight: 300;
    padding-top: 30px;
}

div.four {
    width: 49%;
    padding: 30px 0;
    vertical-align: top;
    display: inline-block;
}

#ways h2,
#ways p {
    margin: 0 50px;
    font-weight: 300;
}

ul#nav li a:hover {
    color: #37ac9d;
}

#ways i {
    position: absolute;
    margin-top: -20px;
    font-size: 40px;
    color: #984d84;
}

.textBlock {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imageBlock {
    width: 59%;
    display: inline-block;
}

h3.spotlight {
    color: #b4bac1;
    margin: 0;
}

p.title {
    color: white;
    font-size: 46px;
    text-align: left;
    padding: 0 0 10px;
}

p.text {
    color: #b4bac1;
    text-align: left;
    font-size: 20px;
}

#section {
    background: #41474f;
}

#karusele {
    padding-top: 50px;
}

#meniu {
    background-color: #2f3339;
}

#meniu ul {
    padding: 0 0;
    margin: 0;
}

#meniu ul li {
    display: table-cell;
    padding: 20px 45px;
}

#meniu ul li div {
    padding: 0;
    background: url(images/customers.png) no-repeat;
    zoom: 75%;
}

#meniu ul li#evernote div {
    height: 40px;
    width: 165px;
    background-position: 0 0px;
    margin-bottom: 5px;
}

#meniu ul li#warner div {
    height: 60px;
    width: 67px;
    background-position: -63px -132px;
    margin-bottom: -3px;
}

#meniu ul li#findlaw div {
    height: 32px;
    width: 142px;
    background-position: 0px -42px;
    margin-bottom: 8px;
}

#meniu ul li#livenation div {
    height: 32px;
    width: 155px;
    background-position: 0 -99px;
    margin-bottom: 5px;
}

#meniu ul li#nhl div {
    height: 64px;
    width: 53px;
    background-position: -2px -131px;
    margin-bottom: -5px;
}

#meniu ul li#bethesda div {
    height: 26px;
    width: 163px;
    background-position: 0 -75px;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

nav#meniu ul li:hover {
    background: #2a2e33;
    cursor: pointer;
}

nav#meniu ul li.active {
    background: #3e74a6;
}

#meniu ul li#evernote.active div {
    background-position: -165px 0px;
}

#meniu ul li#warner.active div {
    background-position: -227px -132px;
}

#meniu ul li#findlaw.active div {
    background-position: -165px -42px;
}

#meniu ul li#livenation.active div {
    background-position: -165px -99px;
}

#meniu ul li#nhl.active div {
    background-position: -167px -131px;
}

#meniu ul li#bethesda.active div {
    background-position: -164px -75px;
}

#discover {
    background: white;
    height: 600px;
    padding-top: 50px;
}

h2.text {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 31px;
}

div.greyBlock {
    background: #f5f7f8;
    padding: 0 30px 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    display: inline-block;
}

div.greyBlock:nth-child(3) {
    margin: 30px 2% 10px;
}

h3.blockTitle {
    text-align: center;
    font-size: 24px;
    padding-top: 90px;
    padding-bottom: 10px;
    color: #3b3f42;
    font-weight: 300;
    margin: 0;
}

p.blockText {
    color: #858c92;
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}

#discover i.fa {
    color: #984d84;
    text-align: center;
    font-size: 34px;
    margin-top: 19px;
    margin-left: 19px;
}

i.fa-shield {
    margin-top: 22px;
    margin-left: 25px;
}

div.circle {
    border-radius: 100px;
    margin: -20px 0 0 105px;
    width: 74px;
    height: 74px;
    background: white;
    border: 3px solid #984d84;
    position: absolute;
}

img#footerLogo {
    height: 40px;
    float: left;
}

div.colmd3 {
    width: 24%;
    display: inline-block;
    vertical-align: top;
}

div.colmd9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

div.colmd6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

#shortContact p {
    font-size: 16px;
    text-align: left;
    margin-left: 50px;
    padding: 0;
}

#shortContact p strong {
    font-size: 22px;
}

#cUs a {
    padding: 10px 20px;
    display: inline-block;
    background: #3e4148;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: #a1bfdc;
}

footer h4 {
    color: white;
}

#shortContact p#mail {
    padding: 10px 0;
}

footer div.colmd9 ul {
    padding: 0;
    margin: 0;
}

footer div.colmd9 h4 {
    margin: 0;
    margin-left: 16px;
}

footer div.container.shortContact {
    padding-top: 50px;
    padding-bottom: 50px;
    
}
footer ul li {
    display: block;
}
#footer2 {
    background: #366487;
    height: 50px;
}
ul#policies {
    display: inline-block;
    color: white;
    margin-top: 14px;
}
#footer2 p {
    display: inline-block;
    color: #a1bfdc;
    margin-top: 7px;
}
#footer2 ul li {
    display: inline-block;
    color: #a1bfdc;
    padding: 0 10px;
}
.bottomNav ul li a:hover, #footer2 ul li a:hover {
    text-decoration: none;
    color: white;
}
#headerNav .dropDown {
    background: white;
    position: absolute;
    text-align: left;
    margin-left: -55px;
    margin-top: 5px;
    z-index: 1;
    text-transform: capitalize;
    display: none;
}
.dropDownFlexBox {
    display: flex;
    flex-direction: column;
}
#headerNav .dropDown ul{
    padding: 0;
    min-width: 170px;
}
.fTour {
    cursor: initial;
    color: #8e8e8e;
    background: #f5f5f5;
    text-transform: uppercase;
    font-size: 10px;
}
.dropDown ul li a {
    color: #575759;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 6px 15px;
    font-size: 13px;
}
.dropDown ul li {
    padding: 0;
}
.dropDown ul li.fTour {
    padding: 4px 10px;
}
.dropDown ul li:hover {
    background: #f0f0f0;
}
#featuresDropDown {
    display: none;
}
#question {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
#contactPopup {
    position: fixed;
    right: 25px;
    bottom: 90px;
    background: white;
    width: 414px;
    height: 295px;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
}
#contactPopup p {
    color: black;
    text-align: left;
    font-size: 14px;
}
#contactPopup > div{
    padding: 10px 15px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#contactPopup form{
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contactForm textarea {
    height: 135px;
}
input[name='email'], textarea[name='message']{
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
}
#contactForm div {
    text-align: right;
}
#removeFile{
    color: red;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}
input[name='contactSubmit'] {
    padding: 10px 30px;
    background-color: #32a8d9;
    border: 0;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}
input[type='file'] {
    display: none;
}